.main-cont-login {
    text-align: center;
}

.card-cont-login {
    transform: translateY(20%);
}

.card-cont-login .container {
    max-width: 30vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    /* border: 2px solid grey; */
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding-top: 10vh;
}

.card-cont-login .container .form-control {
    border: 1px solid grey;
    border-radius: 2px;
    height: 7vh;
}

.card-cont-login .container .form-control:nth-child(1) {
    margin-top: 4vh;
}

.card-cont-login .container .button-cont {
    margin-top: 2vw;
}

.toRegister:hover {
    text-decoration: none;
}