.main-cont-register {
    text-align: center;
}

.card-cont-register {
    transform: translateY(20%);
}

.card-cont-register .container {
    max-width: 30vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding-top: 7vh;
}

.card-cont-register .container .form {
    border: 1px solid grey ;
    margin-top: 4vh;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 7vh;
    font-size: 20px;
    text-indent: 1vw;
}

.card-cont-register .container .form::placeholder {
    text-indent: 1vw;
}

.card-cont-register .container .form:focus {
    outline: none;
}

.card-cont-register .container .form2 {
    margin-top: 0vh;
}

.button-cont .back:hover {
    text-decoration: none;
}

.required-message {
    background-color: rgb(240, 51, 51);
    font-weight: bold;
    display: block;
}